/* App.css */
.home-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Show search input and button for large devices */
  .list{
    list-style-type: none;
    display: flex;
    padding: 30px;

  }
  .login-button{
    color: rgba(7, 235, 235, 0.858);
    background-color: rgba(15, 15, 14, 0.478);
    width: 200px;
    border-radius: 20px;
    
  }
  .search-container{
    display: flex;
    flex-direction: column;
  }
  .logo{
    color: red;
  }
  ul li{
    padding: 10px;
  }
  @media screen and (max-width: 768px) {
    .search-input,
    .search-button,
    .login-button {
      display: none;
    }
  }
  
  /* Show login image and search image for small devices */
  @media screen and (min-width: 769px) {
    .login-image,
    .search-image {
      display: none;
    }
  }
  